{% extends "base_generic.html" %}

{% block content %}
<h3>All My Borrowed Books</h3>
{% if bookinstance_list %} 
<table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Imprint</th>
        <th scope="col">Due Back Date</th>
        <th scope="col">Borrower</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    {% for bookInstance in bookinstance_list %}
    <tbody>
      <tr class="{% if bookInstance.is_overdue %}table-danger{% else %}table-light{% endif %}">
        <td >{{ bookInstance.book.title }}</td>
        <td >{{ bookInstance.imprint }}</td>
        <td >{{ bookInstance.due_back }}</td>
        <td >{{ bookInstance.borrower|capfirst}}</td>
        <td ><a href="{% url "renew-user-book-due-back-date" pk=bookInstance.id %}">[Renew Date]</a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
{% else %}
There is no Borrowed books.
{% endif %}
{% endblock  %}