{% extends "base_generic.html"%}

{% block content %}
<h5>Book List View</h5>
<table class="table">
    <thead>
        <tr class="table-primary">
            <th scope="col">Title</th>
            <th scope="col">ISBN</th>
            <th scope="col">Author</th>
            <th scope="col">Summary</th>
            <th scope="col">Language</th>
            <th scope="col">Genre</th>
        </tr>
    </thead>

    <tbody>
        {% if book_list %}
            {% for book in book_list %}
            <tr>
                <td><a href="{{book.get_absolute_url}}">{{ book.title }}</a></td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.summary }}</td>
                <td>{{ book.language }}</td>
                <td>{{ book.displayGenre }}</td>
            </tr>
            {% endfor %}
        {%else%}
        <P>There are no books in the library</P>
        {%endif%}
    </tbody>
</table>
{% endblock %}