{% extends "base_generic.html"%}
{% block content %}
<h5>Languages List View</h5>
<table class="table">
    <thead>
        <tr class="table-primary">
            <th scope="col">Languages</th>
        </tr>
    </thead>

    <tbody>
        {% if language_list %}
            {% for language in language_list %}
            <tr>
                <td>{{ language.name}}</td>
            </tr>
            {% endfor %}
        {%else%}
        <P>There are no language in the library</P>
        {%endif%}
    </tbody>
</table>
{% endblock %}