{% extends "base_generic.html" %}
{% block content %}
<table class="table">
    <tbody>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center bg-secondary text-white">
                Items
                <span>Number of items</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Original Books
                <span class="badge text-bg-primary rounded-pill">{{numbooks}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Total Book Copies
                <span class="badge text-bg-primary rounded-pill">{{numinstances}}</span>
            </li>
        </ul>
    </tbody>
</table>
{% endblock %}